@import url('https://fonts.googleapis.com/css?family=Oxygen|Rubik');

body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
}

header {
  background: #c7c7c7;
  background-image: url('../images/skyline.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  .pin-top {
    background: rgba(55, 71, 79, 0);
  }

  .pinned {
    background: rgba(55, 71, 79, 1);
  }

  .brand-logo img {
    max-width: 50px;
    position: relative;
    top: 7px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(63, 57, 77, 0.7);
    width: 100%;
    height: 100vh;
    z-index: 1;
  }

  .showcase-container {
    position: relative;
    z-index: 2;
    height: calc(100% - 64px);

    .container {
      padding-top: 17%;
    }
  }

  .btn-floating {
    position: absolute;
    top: 85%;
    left: 50%;
    margin-left: -20px;
  }
}

.box {
  padding: 40px 10px !important;

  h4 {
    margin-bottom: 40px;
  }
}

#testimonials {
  .card-content {
    font-size: 16px;
    img {
      margin-bottom: 20px;
      max-height: 75px;
    }
  }
  .card-action {
    color: #546e7a;
  }
}

.section-contact {
  position: relative;
  padding-top: 40px;

  .card-panel {
    position: relative;
    z-index: 2;

    h4 {
      margin-bottom: 40px;
    }
  }

  #googlemap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(63, 57, 77, 0.7);
}

@media only screen and (max-width: 600px) {
  header {
    height: 80vh;
    .brand-logo img {
      max-width: 40px;
    }
    .overlay {
      height: 80vh;
    }
  }
}
